.divtokeninpagebottom {
 /* position: absolute; */
/* top: 31%; */
width: 100%;
height: 100%;
display: flex;
flex-direction: column;
}

.divtokeninpagetop {
/* position: absolute; */
/* top: 31%; */
width: 100%;
height: 100%;
display: flex;
flex-direction: column;
}

.tokeninpagehid {
   display: none;
}

.tokeninpagesh {
   display: block;
  
}

.linegpagegv {
  height: 100%;
  width: 100%;
}



