
.bannerdiv {
   position: absolute;
   display: inline-block;
   top: 0px;
   width: 100%;
   height: 5%;
   background-color: maroon;
 
}

.addgraph {
   position: absolute;   
   top: 30%;
   left: 10%;
   color: blue;
   font-size: 50;
   font-family: serif;
}

.graphicsviewhid {
   display: none;
}

.graphicsviewsh {
   display: inline;
}

.monitorviewhid {
   display: none;
}

.monitorviewsh {
   display: inline;
}

.buttonconnect {
   position: absolute;
   top: 30%;   
   right: 10%;
   border-radius: 10px;
   color: red;
   font-family: serif;
   background-color: yellow;
}

.walletconnhid {
  display: none;
}

.walletconnsh {
  display: inline;
}

