body {
  display: flex;
  flex-direction: column;
  gap: 0%;
  width: 100%;
  height: 100%;
  margin: 0px;
}

.topimagediv {
  display: block;
   width: 100%;
   height: fit-content;
   background: url(./images/topimage.png);
   background-size: cover;
}

.topimageimg {
  width: 100%;
  height: 100%;
}

.bannerdiv {
 /*  position: absolute; */
   display: flex;
   flex-direction: row;
   flex-wrap: wrap; 
   align-items: center;
   gap: 7%;
/*   top: 25%; */
   width: 100%;
   height: fit-content;
   background-color: #e8132c;
}

.monitoringdiv {
   width: fit-content;
   height: fit-content;
   margin-left: 5%;
}

.monitoring {
  color: #13e8cf;
   font-size: x-large;
   font-family: serif;
}


.addgraphdiv {
   display: block;
   height: fit-content;
}

.addgraph {
   color: #13e8cf;
   font-size: x-large;
   font-family: serif;
}

.graphicsviewhid {
   display: none;
}

.graphicsviewsh {
   display: block; /* default for inline is width:100% height: fit-content */
}

.monitorviewhid {
   display: none;
}

.monitorviewsh {
   display: block;
}

.connectshdiv {
   display: block;
   width: fit-content;
   height: fit-content;
   margin-left: auto;
   margin-right: 5%;
}

.connecthiddiv {
  display: none;
}

.transfershdiv{
  display: block;
   width: fit-content;
   height: fit-content;
   margin-left: auto;
   margin-right: 5%;
}

.transferhiddiv {
   display: none;
}

.connectedshdiv{
 display: block;
   width: fit-content;
   height: fit-content;
   margin-left: auto;
   margin-right: 5%;
}

.connectedhiddiv {
  display: none;
}

.buttonconnect {
   border-radius: 10px;
   color: #1618ed;
   font-size: x-large;
   font-family: serif;
   background-color: #edeb16;
   outline: none;
}

.buttontransfer {
   border-radius: 10px;
   color: #1618ed;
   font-size: x-large;
   font-family: serif;
   background-color: #edeb16;
   outline: none;
}

.buttonconnected {
   border-radius: 10px;
   color: #1618ed;
   font-size: x-large;
   font-family: serif;
   background-color: #edeb16;
   outline: none;
}

.buttonmenu {
   border-radius: 10px;
   color: #1618ed;
   font-size: x-large;
   font-family: serif;
   background-color: #edeb16;
   outline: none;
}

.buttonaddsub {
   border-radius: 10px;
   color: #1618ed;
   font-size: x-large;
   font-family: serif;
   background-color: #edeb16;
   outline: none;
}

.walletconnhid {
  display: none;
}

.walletconnsh {
  display: block;
}

.transferpagehid {
  display: none;
}

.transferpagesh {
  display: block;
}

.addmenuhid {
  display: none;
}

.addmenush {
  display: block;
  width: fit-content;
  height: fit-content;
}

.addtshid {
  display: none;
}

.addtssh {
  display: block;
  z-index: 999;
  position: absolute;
  }

