body {
  display: flex;
  flex-direction: column;
  gap: 0%;
  width: 100%;
  height: 100%;
  margin: 0px;
}

.topimagediv {
  display: block;
   width: 100%;
   height: fit-content;
   background: url(./images/topimage.png);
   background-size: cover;
}

.topimageimg {
  width: 100%;
  height: 100%;
}

.bannerdiv {
 /*  position: absolute; */
   display: flex;
   flex-direction: row;
   flex-wrap: wrap; 
   align-items: center;
   gap: 7%;
/*   top: 25%; */
   width: 100%;
   height: fit-content;
   background-color: #e8132c;
}

.monitoringdiv {
   width: fit-content;
   height: fit-content;
   margin-left: 5%;
}


.monitordivhid {
   display: none;
}

.monitordivsh {
   display: block;
}

.monitoring {
  color: #13e8cf;
   font-size: x-large;
   font-family: serif;
}


.addgraphdiv {
   display: block;
   height: fit-content;
}

.addgraphbutton {
   color: #13e8cf;
   font-size: x-large;
   font-family: serif;
}


.addtokendexghid {
  display: none;
}

.addtokendexgsh {
  display: block;
  background-color: yellow;
  width: fit-content;
  height: fit-content; 
  z-index: 999;
  position: absolute;
}

.addtokendexgspan {
  color: black;
}

.addtokendexgspan:hover {
  color: red;
}

.addtokendexgpagedivhid {
   display: none;
}

.addtokendexgpagedivsh {
   display: block; /* default for inline is width:100% height: fit-content */
}

.viewgraphdiv {
   display: block;
   height: fit-content;
}

.viewgraphbutton {
   color: #13e8cf;
   font-size: x-large;
   font-family: serif;
}

.viewgraphtokendexhid {
  display: none;
}

.viewgraphtokendexsh {
  display: block;
  background-color: yellow;
  width: fit-content;
  height: fit-content; 
  z-index: 999;
  position: absolute;
}


.viewtokendexgspan {
  color: black;
}

.viewtokendexgspan:hover {
  color: red;
}

.tokendexgpagedivhid {
  display: none;
 }

.tokendexgpagedivsh {
  display: block;
  height: 100%;
  width: 100%;
}



.connectshdiv {
   display: block;
   width: fit-content;
   height: fit-content;
   margin-left: auto;
   margin-right: 5%;
}

.connecthiddiv {
  display: none;
}


.donateshdiv{
  display: block;
   width: fit-content;
   height: fit-content;
   margin-left: auto;
   margin-right: 5%;
}

.donatehiddiv {
   display: none;
}

.transfershdiv{
  display: block;
   width: fit-content;
   height: fit-content;
   margin-left: auto;
   margin-right: 5%;
}

.transferhiddiv {
   display: none;
}

.connectedshdiv{
 display: block;
   width: fit-content;
   height: fit-content;
   margin-left: auto;
   margin-right: 5%;
}

.connectedhiddiv {
  display: none;
}

.buttonmenu {
   border-radius: 10px;
   color: #1618ed;
   font-size: x-large;
   font-family: serif;
   background-color: #edeb16;
   outline: none;
}

.buttonconnect {
   border-radius: 10px;
   color: #1618ed;
   font-size: x-large;
   font-family: serif;
   background-color: #edeb16;
   outline: none;
}

.buttontransfer {
   border-radius: 10px;
   color: #1618ed;
   font-size: x-large;
   font-family: serif;
   background-color: #edeb16;
   outline: none;
}

.buttonconnected {
   border-radius: 10px;
   color: #1618ed;
   font-size: x-large;
   font-family: serif;
   background-color: #edeb16;
   outline: none;
}

.buttondonate {
   border-radius: 10px;
   color: #1618ed;
   font-size: x-large;
   font-family: serif;
   background-color: #edeb16;
   outline: none;
}

.buttonaddsub {
   border-radius: 10px;
   color: #1618ed;
   font-size: x-large;
   font-family: serif;
   background-color: #edeb16;
   outline: none;
}

.walletconnhid {
  display: none;
}

.walletconnsh {
  display: block;
}

.transferpagehid {
  display: none;
}

.transferpagesh {
  display: block;
}

.addmenuhid {
  display: none;
}

.addmenush {
  display: block;
  width: fit-content;
  height: fit-content;
}

.addtshid {
  display: none;
}

.addtssh {
  display: block;
  z-index: 999;
  position: absolute;
  }

