.divTokenpage {
   width: auto;
   height: auto;
   display: flex;
   flex-direction: column;
   border-style: solid;
   border-radius: 8px;
   border-width: 5px;
   border-color: #9553cf;
   background-color: #a7f066;
   margin-top: 1%;
   padding-top: 2%;
   padding-left: 2%;
   padding-right: 2%;
   padding-bottom: 2%;   
}

.divrow1 {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   width: 100%;
   height: fit-content;
   padding-bottom: 2%;
}

.divrow2 {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap; 
   width: 100%;
   height: fit-content;
   padding-bottom: 2%;
}


.divrow3, .divrow4 {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   width: 100%;
   gap: 1%;
   height: fit-content;
   padding-bottom: 2%;
}

.divrow5 {
   display: flex;
   flex-direction: row;
    flex-wrap: wrap;
    gap: 3%; 
    width: 100%;
   height: fit-content;
   padding-bottom: 2%;
}

.chainspan {
  width:fit-content;
  height: fit-content;
  margin-right: 1%;
}

.chainselect {
  width:fit-content;
  height: fit-content;
  margin-right: 20%;
}

.dexspan {
  width:fit-content;
  height: fit-content;
  margin-right: 1%;
}

.dexselect {
  width:fit-content;
  height: fit-content;
}

.priceinspan {
  width:fit-content;
  height: fit-content;
  margin-right: 1%;
}

.priceininput {
 width:fit-content;
  height: fit-content;
  margin-right: 2%;
}

.priceininputtext {
  width: 20vw;
}

.intervalspan {
  width:fit-content;
  height: fit-content;
  margin-right: 2%;
}

.hoursselect {
  width:fit-content;
  height: fit-content;
  margin-right: 1%;
}


.hoursspan {
  width:fit-content;
  height: fit-content;
  margin-right: 2%;
}


.minutesselect {
  width:fit-content;
  height: fit-content;
  margin-right: 1%;
}


.minutesspan {
  width:fit-content;
  height: fit-content;
  margin-right: 2%;
}


.secondsselect {
  width:fit-content;
  height: fit-content;
  margin-right: 1%;
}


.secondsspan {
  width:fit-content;
  height: fit-content;
  margin-right: 2%;
}


.tokenname1span, .tokenname2span {
 width:fit-content;
  height: fit-content;
}

.tokenname1input, .tokenname2input {
 width:fit-content;
  height: fit-content;
  margin-right: 5%;
}

.tokenname1inputtext, .tokenname2inputtext {
 width: 15vw;
}

.tokenaddress1span, .tokenaddress2span {
 width:fit-content;
  height: fit-content;
}

.tokenaddress1input, .tokenaddress2input {
 width:fit-content;
  height: fit-content;
margin-right: 5%;
}

.tokenaddress1inputtext, .tokenaddress2inputtext {
 width: 30vw;
}

.digittoken1span, .digittoken2span {
 width:fit-content;
  height: fit-content;
}

.digittoken1input, .digittoken2input {
 width:fit-content;
  height: fit-content;
}

.digittoken1inputtext, .digittoken2inputtext {
  width: 5vw;
}


.buttoncanceldiv {
 width:fit-content;
  height: fit-content;
padding-right: 2%;
}

.buttonsubmitdiv {
 width:fit-content;
  height: fit-content;
}

.labeling {
  font-size: large;
  font-family: "Times New Roman", Times, serif;
  font-weight: 250;
}

.buttoncancel {
  font-size: large;
  font-family: "Times New Roman", Times, serif;
  font-weight: 250;
  border-radius: 10px;
  color: red;
  outline: none;
}

.buttonsubmit {
  font-size: large;
  font-family: "Times New Roman", Times, serif;
  font-weight: 250;
  border-radius: 10px;
  color: red;
  outline: none;
}

