.tokenqlabel{
 font-family: serif;
 font-style: italic;
}

.tokenqinput{
 background-color: #cacdce;
  border-radius: 2px;
  
}

.buttontoksubmit{
  border-radius: 10px;
  font-family: serif;
  color: black;
  outline: none;  
}

.divcontainerbottom {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 69vh; /* using vh means % but can against parent height % */
  justify-content: center; /* y axis */
  align-items: center; /* x axix */
}

.divcontainertop {
  display:flex;
  flex-direction: row;
  width: 100%;
  height: fit-content;
  justify-content: center;
}

.divtable {
  display: flex;
  flex-wrap: wrap;
}


.divcelltext {
  width: auto;
 }

.divcellsubmit {
  width: auto;
  padding-left: 10px;
}

.toprow {
  flex-basis: 100%;
  height: auto;
  padding-bottom: 10px;
  }

 
